@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navLink {
  color: #fbeab8;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: black;
}

.contactLink {
  color: #8ab4f8;
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease;
  font-size: clamp(14px, 3.5vw, 35px)
}

.contactLink:hover {
  font-weight: bold;
}


.topBar {
  width: 100%;
  height: 100px;
  background-color: #956AFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: clamp(5px, 4vw, 40px);
}

.infoBox {
  background-color: #5b4299ff;
  padding: 35px 35px;
  border-radius: 20px;
   width: 100%; 
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: clamp(15px, 4vw, 40px);
}

.sectionLabel {
  font-size: clamp(60px, 6vw, 100px);
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  min-width: 150px;
  color: #FBEAB8;
}

.inputText {
    background: #FBEAB8;
    color: black;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 6px;
}

.button {
  background: #956AFF;        
  color: #FBEAB8;                   
  border: 1px solid #8758fe;      
  padding: clamp(4px, 6vw, 8px) clamp(12px, 3vw, 100px);
  border-radius: 8px; 
  font-size: clamp(4px, 4vw, 30px);
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background: #8758fe;   
  border-color: #8758fe;
  box-shadow: 0 0 10px #8758fe;
}

.loginContainer {
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  color: #FBEAB8;
  flex-direction: column;
  gap: 40px;
  font-size: clamp(10px, 3vw, 38px);
}
